.switch {
    margin: 0.3rem;

    .switch-bar {
        width: 2rem;
        height: 0.8rem;
        background: gray;
        border-radius: 1rem;
        
        transition: background 300ms ease-in;

        &.on {
            background: lightgrey;
        }

        .switch-slider {
            width: 1.1rem;
            height: 1.1rem;
            background: lightpink;
            border-radius: 100%;
            transform: translateY(-0.15rem);

            transition: background 200ms ease-in, transform 100ms ease-in;

            &.on {
                background: magenta;
                transform: translate(0.9rem, -0.15rem);
            }
        }
    }
}


.box {
    margin: 0.3rem;
    width: 5rem;
    height: 5rem;
    background: green;

    transition: width 200ms ease-out, height 200ms ease-out, background 200ms ease-in;

    &.changed {
        width: 10rem;
        height: 10rem;
        background: blue;
    }
}